<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Website!</title>
<!--  <link rel="stylesheet" type="text/css" href="../static/style.css">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='flash.ico') }}">
<!--  <link href="../static/assets/favicon.ico" rel="icon">-->
</head>
<body>
TEST <br>
{{ name }} <br>
{{ id }} <br>
{{ 4 + 5 }} <br>
<!--<script src="../static/script.js"></script>-->
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
